* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome-name{
  display: flex;
  justify-content: center;
}

.member-name{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  w
}

.member{
  display: flex;
  justify-content: center;
}