.Infor{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.controller{
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}

.controller-tools{
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.2rem;
    gap: 1rem;
}

.infor_of--tool{
    width: 100%;
    height: 90%;
    border-radius: 5rem;
    background-color: rgb(85, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(182, 182, 182);

}

.title{
    display: inline;
    font-weight: bold;
}

.lights{
    width: 80vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.light{
    width: 9rem;
    height: 5rem;
}

.light:hover{
    cursor: pointer;
}

.light:active{
    background-color: rgb(159, 229, 189);
    .icon-light{
        color: white;
    }
}
.light1{
    border-radius: 1rem 0 0 1rem;
    border: none;
}

.light2{
    border-radius: 0 1rem 1rem 0;
    border: none;
}

.icon-light{
    font-size: 1.5rem;
    color: rgb(141, 141, 119);
}

.infor-number{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    font-size: 100px;
    color: white;
}

.infor-unit{
    position: absolute;
    right: -45px;
    top: 10px;
    width: 50%;
    height: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


